<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580917097209-dcs987nne134ope8nbucv10u7rurefod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580917097209-dcs987nne134ope8nbucv10u7rurefod</string>
	<key>API_KEY</key>
	<string>AIzaSyD8J1XwVge-D4-xKKOh3Q2t0O1VJbl3-V8</string>
	<key>GCM_SENDER_ID</key>
	<string>580917097209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactjs.native.rnapps</string>
	<key>PROJECT_ID</key>
	<string>rnapps07</string>
	<key>STORAGE_BUCKET</key>
	<string>rnapps07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580917097209:ios:f40ddfd80f27f6e3c4e828</string>
</dict>
</plist>